.input_block{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 32px;
    width: 100%;
    @media (min-width: 0px) and (max-width: 850px){
        width: 90vw;
        padding: 0 5vw;
    }
}
.input_block_profile{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 32px;
    width: 100%;
    @media (min-width: 0px) and (max-width: 850px){
        width: 90vw;
        margin-bottom: 3vw;
    }
}
.input{
    border: 1px solid #525151;
    padding: 11px 10px;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 10px;
    width: 100%;
    @media (min-width: 0) and (max-width: 850px){
        font-size: 4vw;
        padding: 1vw 1vw;
        margin-right: 0;
    }
}
.input::placeholder{
    color: rgba(0, 0, 0, 0.22);
}
.input_auth{
    border: 1px solid #525151;
    padding: 11px 10px;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 10px;
    width: 100%;
    @media (min-width: 0px) and (max-width: 850px){
        font-size: 4vw;
        width: 80vw;
        padding: 2vw 2vw;
    }
}
.input_auth::placeholder{
    color: rgba(0, 0, 0, 0.22);
}



.label{
    font-size: 0.88rem;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-bottom: 12px;
    @media (min-width: 0px) and (max-width: 850px){
        font-size: 3.5vw;
        margin-bottom: 0.4vw;
    }
}
.error{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 0.6875rem;
    position: absolute;
    font-weight: 400;
    color: #CF4949;
    top: 78px;
    line-height: 15px;
}
