.header_logout{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
    padding: 14px 30px;
    cursor: pointer;
    background: black;
    color: white;
    margin-left: 38px;
    border: #000000 1px solid;
}
.header_logIn{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
    padding: 14px 30px;
    cursor: pointer;
    background: #ffffff;
    color: #000000;
    border: #000000 1px solid;
}
.header_logIn:disabled{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
    padding: 14px 30px;
    cursor: pointer;
    background: #ffffff;
    color: rgba(0, 0, 0, 0.5);
    border: rgba(0, 0, 0, 0.5) 1px solid;
}
.header_signIn{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
    padding: 14px 30px;
    cursor: pointer;
    background: black;
    color: white;
    margin-left: 24px;
    border: #000000 1px solid;
}
.footer_logout{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
    padding: 14px 30px;
    cursor: pointer;
    background: black;
    color: white;
    border: #ffffff 1px solid;
    margin-left: 38px;
}
.footer_signIn{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
    padding: 14px 30px;
    cursor: pointer;
    background: black;
    color: white;
    border: #ffffff 1px solid;
}
.footer_logIn{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
    padding: 14px 30px;
    cursor: pointer;
    background: black;
    color: white;
    margin-left: 24px;
    border: #000000 1px solid;
}
.form_button{
    font-size: 1rem;
    background: black;
    color: white;
    padding: 18px 0px;
    border: none;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 20px 0px;
}
.profile_save_changes{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
    padding: 14px 30px;
    cursor: pointer;
    background: black;
    color: white;
    border: #000000 1px solid;
    max-width: 164px;
}