.top_article{
    max-width: 1070px;
    display: flex;
}
.img_article{
    max-width: 582px;
    object-fit: cover;
}
.top_article_block{
    margin-left: 24px;
    border-bottom: 1px #EBEBEB solid;
}
.hashtags{
    padding: 7px 12px;
    background: #F7F7F7;
    color: #8C8C8C;
    border-radius: 45px;
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
.bottom_block{
    display: flex;
    align-items: center;
    color: #8C8C8C;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 0px;
    margin: 8px 0px;
}
.avatar_block{
    display: flex;
    align-items: center;
}
.avatar_name{
    font-weight: 500;
    margin: 0px 8px;
}
.m8{
    margin: 0px 8px;
}
.views{
    max-width: 20px;
}
.avatars{
    border-radius: 50%;
    max-width: 40px;
    object-fit: cover;
}
.ml8{
    margin-left: 8px;
}