.articles{
    max-width: 1070px;
    display: flex;
    margin: 40px 0;
    cursor: pointer;
    filter: invert(4%);
    word-wrap: break-word;
    @media (min-width: 1024px) and (max-width: 1439px){
        max-width: 960px;
    }
    @media (min-width: 768px) and (max-width: 1023px){
        max-width: 740px;
    }
    @media (min-width: 425px) and (max-width: 767px){
        max-width: 580px;
    }
}
.articles:hover{
    filter: invert(0%);
}
.articles:active{
    position: relative;
    top: -2px;
}
.img_article{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img_block{
    display: flex;
    flex: 1;
    max-width: 367px;
    max-height: 260px;
    min-height: 260px;
    @media (min-width: 1024px) and (max-width: 1439px){
        max-height: 230px;
        min-height: 230px;
    }
}
.article_block{
    max-width: 680px;
    margin-left: 24px;
    border-bottom: 1px #EBEBEB solid;
    @media (min-width: 1024px) and (max-width: 1439px){
        max-width: 960px;
        display: flex;
        flex: 2;
        flex-direction: column;
    }
    @media (min-width: 768px) and (max-width: 1023px){
        max-width: 740px;
    }
    @media (min-width: 425px) and (max-width: 767px){
        max-width: 580px;
    }
}
.hashtags{
    padding: 7px 12px;
    background: #F7F7F7;
    color: #8C8C8C;
    border-radius: 45px;
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    list-style: none;
    display: inline-block;

    margin-right: 10px;
}
.article_info{
    display: flex;
    align-items: center;
    color: #8C8C8C;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 0;
    margin: 8px 0;
    position: absolute;
    bottom: 10px;
}
.avatar_block{
    display: flex;
    align-items: center;
}
.avatar_name{
    font-weight: 500;
    margin: 0 8px;
}
.m8{
    margin: 0 8px;
}
.views{
    max-width: 20px;
}
.ml8{
    margin-left: 8px;
}
.avatars{
    border-radius: 50%;
    max-width: 40px;
    object-fit: cover;
}
.paragraph_short{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    max-width: 680px;
    @media (min-width: 768px) and (max-width: 1023px){
        max-width: 540px;
    }
}