.allArticles{
    display: flex;
    justify-content: space-between;
    margin: 36px 0;
    width: 93vw;
}
.myArticles {
    display: flex;
    justify-content: space-between;
    margin: 36px 0;
    min-width: 670px;
}