.allArticles{
    display: flex;
    justify-content: space-between;
    margin: 36px 0;
    min-width: 1070px;
}
.myArticles {
    display: flex;
    justify-content: space-between;
    margin: 36px 0;
    min-width: 670px;
}