.header_container {
    background: white;
    top: 0;
    width: 100%;
    padding: 1.4vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #EBEBEB 1px solid;
    position: sticky;
    z-index: 10;
    @media (min-width: 0px) and (max-width: 850px) {
        padding: 4vw 0;
    }
    .app_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 85vw;
        flex: 1;
        position: sticky;
        background: white;
        z-index: 10;
        .burger_icon{
            width: 4vw;
            cursor: pointer;
        }
        .logo {
            width: 20vw;
            object-fit: cover;
            @media (min-width: 0px) and (max-width: 875px) {
                width: 30vw;
            }
        }
    }
}
.active {
    border-bottom: 1px solid black;
}


//@media (min-width: 1024px) and (max-width: 1439px) {
//    .app_header {
//        min-width: 850px;
//    }
//}
//
//@media (min-width: 768px) and (max-width: 1023px) {
//    .app_header {
//        min-width: 650px;
//    }
//}
//
//@media (min-width: 425px) and (max-width: 767px) {
//    .app_header {
//        min-width: 550px;
//    }
//
//    .logo {
//        width: 200px;
//        max-height: 25px;
//        object-fit: cover;
//    }
//}




