.main_container{
    margin: 80px 0 110px 0;
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1 1 auto;
    word-wrap: break-word;
}
.hashtags{
    padding: 7px 12px;
    background: #F7F7F7;
    color: #8C8C8C;
    border-radius: 45px;
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
.fullPage{
    max-width: 676px;
}
.article_img{
    max-width: 676px;
    min-width: 676px;
    max-height: 399px;
}
.fullPage_container{
    min-width: 865px;
}
.paragraph_fullPage{
    margin: 32px 0;
}
.descriptionImg{
    font-style: italic;
    color: #8C8C8C;
    margin: 24px 0;
}
.article_info{
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    color: #8C8C8C;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 20px 0;
    margin: 8px 0;
    max-width: 676px;
}
.avatar_block{
    display: flex;
    align-items: center;
}
.avatar_name{
    font-weight: 500;
    margin: 0 8px;
}
.avatars{
    border-radius: 50%;
    max-width: 40px;
    object-fit: cover;
}
.m8{
    margin: 0 8px;
}
.views{
    max-width: 20px;
}
.ml8{
    margin-left: 8px;
}
.space_between{
    max-width: 667px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px #d7d2d2 solid;
}

