.block {
  margin: 10vw 0;
  width: 86vw;
  @media (min-width: 0) and (max-width: 850px) {
    margin-bottom: 70vw;
  }
}

.content_block {
  max-height: 382px;
  display: flex;
  @media (min-width: 0) and (max-width: 850px) {
    flex-direction: column;
  }
}

.photo_block_container {
  width: 30vw;
  height: 30vw;
  background-color: #f5f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  place-items: center;
  @media (min-width: 0) and (max-width: 850px) {
    width: 86vw;
    height: 70vw;
  }
}

.photo_block {
  width: 30vw;
  height: 30vw;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  overflow: auto;
  @media (min-width: 0) and (max-width: 850px) {
    width: 86vw;
    height: 70vw;
  }
}

.avatar {
  height: 10vw;
  width: 10vw;
  border-radius: 145px;
  margin-bottom: 1.5vw;
  @media (min-width: 0) and (max-width: 850px) {
    height: 30vw;
    width: 30vw;
    margin-bottom: 3vw;
  }
}

.user_info {
  width: 53vw;
  display: flex;
  flex-direction: column;
  @media (min-width: 0) and (max-width: 850px) {
    width: 86vw;
    margin-top: 5vw;
  }

}

.delete_link {
  font-weight: 400;
  margin: 24px;
  text-decoration: underline;
  border: none;
  background-color: #f5f1f1;
  cursor: pointer;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1rem;
  @media (min-width: 0px) and (max-width: 850px) {
    margin: 3vw;
    font-size: 4.5vw;
  }

}

.header {
  font-size: 6.5vw;
  margin: 0 0 5vw 0;

}

.user_data_block {
  display: flex;
  gap: 32px;
  @media (min-width: 0px) and (max-width: 585px) {
    gap: 12px;
  }
}

.description {
  border: 1px black solid;
  font-family: 'IBM Plex Sans', sans-serif;
  max-height: 155px;
  height: 100%;
  width: 53vw;
  margin-bottom: 24px;
  padding: 11px 10px;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
  @media (min-width: 0px) and (max-width: 850px) {
    width: 86vw;
    min-height: 30vw;
    margin-bottom: 0;
    font-size: 4vw;
    padding: 1vw 1vw;
    word-break: break-all;
  }
  @media (min-width: 0) and (max-width: 850px) {
    line-height: 4.5vw;
  }
}

.description_label {
  @media (min-width: 0px) and (max-width: 850px) {
    margin-bottom: 2px;
    font-size: 3.5vw;
  }
}

.upload_input {
  margin: 0;
  min-height: 48px;
  min-width: 161px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #000000 1px solid;
  @media (min-width: 0px) and (max-width: 850px) {
    width: 45vw;
    min-height: 0;
    min-width: 0;
    height: 13vw;
  }
}

.input_file_hidden {
  visibility: hidden;
  position: absolute;
  min-height: 48px;
  max-width: 161px;
  @media (min-width: 0) and (max-width: 850px) {
    width: 20vw;

  }
}

.input_label {
  cursor: pointer;
  padding: 12px 30px;
  margin: 0;
  font-size: 1rem;
  @media (min-width: 0px) and (max-width: 850px) {
    font-size: 4.5vw;
    padding: 1vw 3vw;
  }

}

.lds_dual_ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: relative;
  top: 200px;
}

.lds_dual_ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 8px solid #000000;
  border-color: #000000 transparent #000000 transparent;
  animation: lds_dual_ring 1.2s linear infinite;
}

@keyframes lds_dual_ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}