.logout{
    display: flex;
}
.logout_list{
    list-style: none;
    display: flex;
    align-items: center;
}
.logout_li{
    position: relative;
    top: 6px;
    display: inline-block;
    margin: 0 20px;
    padding-bottom: 10px;
    color: #8C8C8C;
    cursor: pointer;
    @media (min-width: 768px) and (max-width: 1000px){
        margin: 10px;
    }
    @media (min-width: 425px) and (max-width: 767px){
        margin: 7px;
    }
}
.active{
    border-bottom: 1px solid black;
    position: relative;
    top: 6px;
    display: inline-block;
    margin: 0 20px;
    padding-bottom: 10px;
    color: #000000;
    cursor: pointer;
    @media (min-width: 768px) and (max-width: 1000px){
        margin: 10px;
    }
    @media (min-width: 425px) and (max-width: 767px){
        margin: 7px;
    }
}